

/* CSS Reset by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* IT APPEARS THIS CSS RESET IS PREVENTING MY CSS CHANGES FROM BEING MADE.....
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;

*/  
    
/* 
    =======================================
    GRID
    =======================================
*/
    
*,
*:before;
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    .container {
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        width: 960px;
    }  
}

/*
  ========================================
  Clearfix
  ========================================
*/
/*
    
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
*/

/*
  ========================================
  Body
  ========================================
*/

body {
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 0;
    margin-right: 0;
} 
/*
  ========================================
  Typography
  ========================================
*/

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        color:#4C5361;
        font-family: sans-serif;
}
    
/*
  ========================================
  Button
  ========================================
*/

    button {
        padding: 20px 30px;
        background-color: #4C5361;
        color: white;
        border: none;
        font-size: 20px;
        border-radius: 0px;
    }

/*
    .btn {
        background-color: #4C5361;
        font-size: 20px;
        border-radius: 5px;
        display: inline-block;
        margin: 0;
        color: white;
        border: none;

        border-radius: 0px;
    }
    
    .btn-alt {
        border: 1px solid #dfe2e5;
        padding: 20px 30px;
    }
*/
    
/*
  ========================================
  Home Page
  ========================================
*/
.fullWidth {
    width: 100%;
}
    
    .hero {
        padding: 20px;
    }
    
    section {
        display: inline-block;
        vertical-align: top;
        margin: 0%;
        width: 100%;
    }

.group {
    width: 45%;
}

.text {
    margin: 0 1.5%;
}
    

/*
  ========================================
  Fixed Header/Nav
  ========================================
*/

nav {

}

.fixed {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    top:0;
    left:0;
    width=100%;
    height: 5%;
    background-color: white;
}

/*
  ========================================
  H1
  ========================================
*/

    .logo {
        font-family: sans-serif;
        border-bottom: 4px solid #648880;
        color: gray;
        padding: 10px 10px;
        float: left;
    }    
    
/*
  ========================================
  Primary Footer
  ========================================
*/

    .primary-footer small {
        float: left;
    }
    
    .primary-footer {
        color: gray;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5%;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    
/*
  ========================================
  Image
  ========================================
*/

.largeImage {
    max-width: 100%;
    padding: 0;
    border: 0;
    margin-left: 0;
    margin-right: 0;
}


/*
  ========================================
SAMPLE LAYOUT FROM http://www.responsivegridsystem.com/calculator/
  ========================================
*/


/*  Tiles  
.tile {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  Column Set Up  
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS 

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0% 0 0% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span2, .span1 { width: 100%; }
} */